In [32]:
#from ydata_profiling import ProfileReport

In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [34]:
df= pd.read_csv("row_creditcard_data.csv")

In [35]:
df

,Unnamed: 0.1,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76995,76995,76995,2019-02-15 06:45:32,3576281490078437,fraud_Block-Parisian,misc_net,98.44,Chris,Dixon,M,...,38.7735,-86.6285,1735,Financial adviser,1990-06-13,d80985cb9ea4c40fe9e900a55a5606cb,1329288332,39.356566,-86.689779,0
76996,76996,76996,2019-02-15 06:46:00,6011893664860915,"fraud_Nienow, Ankunding and Collier",misc_pos,81.25,Erin,Chavez,F,...,39.5994,-105.0044,320420,Water engineer,1975-07-31,35049c9fe178e8c06471b3f062d4ea49,1329288360,38.877220,-104.115713,0
76997,76997,76997,2019-02-15 06:47:57,4707867759656333,fraud_Lockman Ltd,grocery_pos,153.64,Susan,Shah,F,...,36.7558,-83.1838,581,"Psychologist, counselling",1967-02-04,2df4ff5b1ab0fa2556ca5aae230cd7ca,1329288477,36.225325,-82.606817,0
76998,76998,76998,2019-02-15 06:48:37,4992346398065154184,fraud_Boyer PLC,misc_pos,1054.26,Benjamin,Kim,M,...,41.1730,-89.2187,532,Audiological scientist,1956-01-09,bdc3b88f3d921c728ba612acc70c3a52,1329288517,40.779458,-89.134769,0
76999,76999,76999,2019-02-15 06:52:15,6517217825320610,fraud_Miller-Hauck,grocery_pos,141.23,James,Reese,M,...,31.6453,-90.1801,1196,"Librarian, academic",1958-06-11,7de93830b809918c888ee5587125de99,1329288735,31.521052,-89.882466,0

In [40]:
# Check for missing values after preprocessing
missing_values = df.isnull().sum()
print(missing_values)

Unnamed: 0.1             0
Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [39]:

# Handling Missing Values
df.dropna(inplace=True)

In [41]:
# Removing Duplicate Values
df.drop_duplicates(inplace=True)

In [ ]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'trans_date_trans_time', 'cc_num',
       'merchant', 'category', 'amt', 'first', 'last', 'gender', 'street',
       'city', 'state', 'zip', 'lat', 'long', 'city_pop', 'job', 'dob',
       'trans_num', 'unix_time', 'merch_lat', 'merch_long', 'is_fraud'],
      dtype='object')

In [ ]:
df.drop(['street','first','last','lat','long','city_pop','trans_num',
         "unix_time","merch_lat","merch_long","Unnamed: 0",'Unnamed: 0.1'],axis=1,inplace=True)

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
gender                   0
city                     0
state                    0
zip                      0
job                      0
dob                      0
is_fraud                 0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77000 entries, 0 to 76999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   trans_date_trans_time  77000 non-null  object
 1   cc_num                 77000 non-null  int64
 2   merchant               77000 non-null  object
 3   category               77000 non-null  object
 4   amt                    77000 non-null  float64
 5   gender                 77000 non-null  object
 6   city                   77000 non-null  object
 7   state                  77000 non-null  object
 8   zip                    77000 non-null  int64
 9   job                    77000 non-null  object
 10  dob                    77000 non-null  object
 11  is_fraud               77000 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 7.0+ MB

In [ ]:
df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,zip,job,dob,is_fraud
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,NC,28654,"Psychologist, counselling",1988-03-09,0
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,99160,Special educational needs teacher,1978-06-21,0
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,83252,Nature conservation officer,1962-01-19,0
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,MT,59632,Patent attorney,1967-01-12,0
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,Doe Hill,VA,24433,Dance movement psychotherapist,1986-03-28,0
...,...,...,...,...,...,...,...,...,...,...,...,...
76995,2019-02-15 06:45:32,3576281490078437,fraud_Block-Parisian,misc_net,98.44,M,Williams,IN,47470,Financial adviser,1990-06-13,0
76996,2019-02-15 06:46:00,6011893664860915,"fraud_Nienow, Ankunding and Collier",misc_pos,81.25,F,Littleton,CO,80120,Water engineer,1975-07-31,0
76997,2019-02-15 06:47:57,4707867759656333,fraud_Lockman Ltd,grocery_pos,153.64,F,Cranks,KY,40820,"Psychologist, counselling",1967-02-04,0
76998,2019-02-15 06:48:37,4992346398065154184,fraud_Boyer PLC,misc_pos,1054.26,M,Mc Nabb,IL,61335,Audiological scientist,1956-01-09,0
76999,2019-02-15 06:52:15,6517217825320610,fraud_Miller-Hauck,grocery_pos,141.23,M,Sontag,MS,39665,"Librarian, academic",1958-06-11,0

In [ ]:
from datetime import datetime as dt
df["trans_date_trans_time"] = pd.to_datetime(df["trans_date_trans_time"])
df["trans_date"] = df["trans_date_trans_time"].dt.date
df["trans_date"]= pd.to_datetime(df["trans_date"])

df['year'] = df['trans_date'].dt.year
df['month'] = df['trans_date'].dt.month
df['day'] = df['trans_date'].dt.day
df["dob"] = pd.to_datetime(df["dob"])

In [ ]:
df["dob"] = pd.to_datetime(df["dob"])

In [ ]:
df

,trans_date_trans_time,cc_num,merchant,category,amt,gender,city,state,zip,job,dob,is_fraud,trans_date,year,month,day
0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,F,Moravian Falls,NC,28654,"Psychologist, counselling",1988-03-09,0,2019-01-01,2019,1,1
1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,F,Orient,WA,99160,Special educational needs teacher,1978-06-21,0,2019-01-01,2019,1,1
2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,M,Malad City,ID,83252,Nature conservation officer,1962-01-19,0,2019-01-01,2019,1,1
3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,M,Boulder,MT,59632,Patent attorney,1967-01-12,0,2019-01-01,2019,1,1
4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,M,Doe Hill,VA,24433,Dance movement psychotherapist,1986-03-28,0,2019-01-01,2019,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76995,2019-02-15 06:45:32,3576281490078437,fraud_Block-Parisian,misc_net,98.44,M,Williams,IN,47470,Financial adviser,1990-06-13,0,2019-02-15,2019,2,15
76996,2019-02-15 06:46:00,6011893664860915,"fraud_Nienow, Ankunding and Collier",misc_pos,81.25,F,Littleton,CO,80120,Water engineer,1975-07-31,0,2019-02-15,2019,2,15
76997,2019-02-15 06:47:57,4707867759656333,fraud_Lockman Ltd,grocery_pos,153.64,F,Cranks,KY,40820,"Psychologist, counselling",1967-02-04,0,2019-02-15,2019,2,15
76998,2019-02-15 06:48:37,4992346398065154184,fraud_Boyer PLC,misc_pos,1054.26,M,Mc Nabb,IL,61335,Audiological scientist,1956-01-09,0,2019-02-15,2019,2,15
76999,2019-02-15 06:52:15,6517217825320610,fraud_Miller-Hauck,grocery_pos,141.23,M,Sontag,MS,39665,"Librarian, academic",1958-06-11,0,2019-02-15,2019,2,15

In [ ]:
df.drop(["trans_date_trans_time"],axis=1,inplace=True)

In [ ]:
df['gender'] = df['gender'].replace({'F': 1, 'M': 0})

In [ ]:
df["is_fraud"].value_counts()

is_fraud
0    76229
1      771
Name: count, dtype: int64

In [ ]:
df.groupby("is_fraud")['amt'].mean()

is_fraud
0     67.464101
1    534.065603
Name: amt, dtype: float64

In [ ]:
df

,cc_num,merchant,category,amt,gender,city,state,zip,job,dob,is_fraud,trans_date,year,month,day
0,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,1,Moravian Falls,NC,28654,"Psychologist, counselling",1988-03-09,0,2019-01-01,2019,1,1
1,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,1,Orient,WA,99160,Special educational needs teacher,1978-06-21,0,2019-01-01,2019,1,1
2,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,0,Malad City,ID,83252,Nature conservation officer,1962-01-19,0,2019-01-01,2019,1,1
3,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,0,Boulder,MT,59632,Patent attorney,1967-01-12,0,2019-01-01,2019,1,1
4,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,0,Doe Hill,VA,24433,Dance movement psychotherapist,1986-03-28,0,2019-01-01,2019,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76995,3576281490078437,fraud_Block-Parisian,misc_net,98.44,0,Williams,IN,47470,Financial adviser,1990-06-13,0,2019-02-15,2019,2,15
76996,6011893664860915,"fraud_Nienow, Ankunding and Collier",misc_pos,81.25,1,Littleton,CO,80120,Water engineer,1975-07-31,0,2019-02-15,2019,2,15
76997,4707867759656333,fraud_Lockman Ltd,grocery_pos,153.64,1,Cranks,KY,40820,"Psychologist, counselling",1967-02-04,0,2019-02-15,2019,2,15
76998,4992346398065154184,fraud_Boyer PLC,misc_pos,1054.26,0,Mc Nabb,IL,61335,Audiological scientist,1956-01-09,0,2019-02-15,2019,2,15
76999,6517217825320610,fraud_Miller-Hauck,grocery_pos,141.23,0,Sontag,MS,39665,"Librarian, academic",1958-06-11,0,2019-02-15,2019,2,15

In [ ]:
df.to_csv("FraudTrain.csv")

In [ ]:
df.dtypes

cc_num                 int64
merchant              object
category              object
amt                  float64
gender                 int64
city                  object
state                 object
zip                    int64
job                   object
dob           datetime64[ns]
is_fraud               int64
trans_date    datetime64[ns]
year                   int32
month                  int32
day                    int32
dtype: object